<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <strong>Status: {{status}}</strong>
  <div>
    <input [(ngModel)]="ip" type="text" name="ip" placeholder="IP of printer with WebPRNT">
    <button (click)="connectToWebPrint()">Connect to WebPRNT</button>
  </div>

  <div>
    <ion-button (click)="requestUsb()">Connect to USB</ion-button>
  </div>

  <div>
    <ion-button (click)="print(usbPrintDriver)" [disabled]="status === false"> Print!</ion-button>
  </div>
</ion-content>
